:host {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

.update-weight-form {
  display: flex;

}

button {
  background-color: #35A0DE;
  color: white;
  border-radius: 5px;
  padding: 4px 7px;
}
