header {
    padding: 10px;
    background: #DD3439;
  }
  .logo {
    width: 90px;
  }
  .logo:hover {
    cursor: pointer;
  }
  .desktop_menu {
    margin-top: 24px;
  }
  .desktop_menu ul {
    padding: 0;
    margin: 0;
  }
  .desktop_menu ul li {
    list-style-type: none;
    color: white;
    display: inline-block;
    font-size: 20px;
    margin-left: 26px;
    font-weight: 700;
    margin-bottom: 10px;
  }
  .desktop_menu ul li:hover {
    cursor: pointer;
    color: #453A3A;
    transition: 0.2s ease-in-out;
  }
  .menu-icon {
    display: none;
  }

  @media screen and (min-width: 128px) and (max-width: 900px) {
    .desktop_menu {
      position: fixed !important;
      right: -280px;
      transition: 0.4s ease-in-out;
      top: 64px;
      background: #3E5969;
      width: 280px;
      height: 100%;
    }
    .desktop_menu ul li {
      display: block;
      text-align: left;
      margin: 0;
      padding: 10px 0 10px 26px;
      border-bottom: 1px solid grey;
    }
    .menu-icon {
      display: block;
      color: white;
      font-size: 40px;
      padding-top: 10px;
    }
    .mobile_menu {
      right: 0;
      transition: 0.4s ease-in-out;
    }
  }
